<?xml version="1.0"?>
 
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".css" mimeType="text/css" />
     </staticContent>
    </system.webServer>
</configuration> 